#message article {
  /* height: 100px; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid;
  border-radius: 20px;
  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
}

.displayMessages {
  height: 90vh;
}

.displayMessages article {
  border: solid;
}

.displayMessages article:first-child {
  height: 10%;
}
.displayMessages article:nth-child(2) {
  height: 80%;
}
.displayMessages article:nth-child(3) {
  display: flex;
  align-items: center;
  height: 10%;
  form {
    width: 100%;
    height: 100%;
    input {
      width: 80%;
      height: 80%;
    }
    button {
      width: 20%;
      height: 80%;
    }
  }
}
.displayMessages img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.right {
  text-align: end;
}
