#home section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#home section:first-child article {
  height: 200px;
  width: 200px;
  border: solid;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  box-shadow: 5px 8px 10px rgb(159, 150, 150);
  button {
    width: 80%;
    padding: 5px 10px;
    margin-bottom: 8px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
  }
}
#home section:first-child img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
/* ! post */
#home section:nth-child(2) {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
section:nth-child(2) article figure {
  img {
    width: 300px;
    height: 400px;
  }
  figcaption {
    font-size: 30px;
    display: flex;
    align-self: center;
    gap: 20px;
  }
}

.like {
  color: red;
}
